<div class="container">

    <div ng-show="!isAdmin">
        <h1>Cart</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Item price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Change</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in cart.items">
                <td>{{p.title}}</td>
                <td>{{p.itemPrice}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button type="button" ng-disabled="confirm" class="btn btn-warning" ng-click="dec(p.id)">-</button>
                    <button type="button" ng-disabled="confirm" class="btn btn-warning" ng-click="inc(p.id)">+</button>
                </td>
                <td>
                    <button type="button" ng-disabled="confirm" class="btn btn-danger" ng-click="rm(p.id)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h2 ng-show="cart.items.length > 0">Total price: {{cart.totalPrice}}</h2>
        <br>

        <button class="btn btn-success" ng-show="cart.items.length > 0 && !confirm && isCustomer" ng-click="confirmOrder()">Confirm order</button>
        <button class="btn btn-danger" ng-show="cart.items.length > 0 && !confirm" ng-click="clearCart()">Clear basket</button>

        <form id="filterProducts" novalidate class="form-inline" ng-show="confirm && isCustomer" ng-submit="makeOrder()">
            <div class="form-group mx-sm-3 mb-2">
                <label for="address" class="sr-only">Address</label>
                <input style="min-width: 500px" class="form-control" type="text" ng-model="address" id="address" placeholder="Address">
                <button class="btn btn-success" style="margin-left: 5px" type="submit">Make order</button>
                <button class="btn btn-danger" style="margin-left: 5px" type="reset" ng-click="cancelConfirmation()">Cancel</button>
            </div>
        </form>

    </div>

</div>