services:
  - docker:dind

stages:
  - package
  - build
  - deploy

package:
  when: manual
  image: maven:3-jdk-8
  stage: package
  script:
    - mvn package
  artifacts:
    paths:
      - target/*.jar

build:
  when: manual
  image: docker:stable
  stage: build
  before_script:
    - docker login registry.gitlab.com -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker pull registry.gitlab.com/maximpnk/store || true
    - docker build . -t registry.gitlab.com/maximpnk/store:latest -t registry.gitlab.com/maximpnk/store:$CI_COMMIT_SHA --cache-from registry.gitlab.com/maximpnk/store:latest
    - docker push registry.gitlab.com/maximpnk/store:latest
    - docker push registry.gitlab.com/maximpnk/store:$CI_COMMIT_SHA

deploy:
  when: manual
  image: ubuntu:latest
  stage: deploy
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client git -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - ssh root@$SERVER "docker login registry.gitlab.com -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD; docker stop store || true; docker system prune -a -f; docker pull registry.gitlab.com/maximpnk/store; docker container run -d --name store -p 8855:8855; docker logout"