<html ng-app="app" lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="history.js"></script>
    <title>History</title>
</head>

<body>

<div class="container" ng-controller="historyController">

    <div class="form-group mx-sm-3 mb-2" ng-show="authorized">
        <h1>Hello, {{username}}!</h1>
        <button type="button" class="btn btn-info mb-2" ng-click="goToShop()">Shop</button>
        <button type="button" ng-show="isCustomer" class="btn btn-info mb-2" ng-click="goToCart()">Cart</button>
        <button type="button" class="btn btn-danger mb-2" ng-click="logout()">Logout</button>
        <hr>
    </div>

    <div ng-show="!authorized">
        <h1>Hello, guest!</h1>
        <button type="button" class="btn btn-primary" ng-click="goToAuth()">Auth</button>
        <hr>
    </div>

    <div ng-show="isCustomer">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="h in customerHistory">
                <th scope="row">{{h.id}}</th>
                <td ng-bind="formatDate(h.updatedAt) | date:'dd.MM.yyyy HH:mm'"></td>
                <td>{{h.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="isAdmin">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">User ID</th>
                <th scope="col">User name</th>
                <th scope="col">User email</th>
                <th scope="col">User phone</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="h in history">
                <th scope="row">{{h.id}}</th>
                <td>{{h.userId}}</td>
                <td>{{h.userName}}</td>
                <td>{{h.userEmail}}</td>
                <td>{{h.userPhone}}</td>
                <td ng-bind="formatDate(h.updatedAt) | date:'dd.MM.yyyy HH:mm'"></td>
                <td>{{h.price}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>

</html>