<div class="container">

    <h1>Orders history</h1>
    <hr>

    <div ng-show="isCustomer">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="h in customerHistory">
                <th scope="row">{{h.id}}</th>
                <td ng-bind="formatDate(h.createdAt) | date:'dd.MM.yyyy HH:mm'"></td>
                <td>{{h.price}}</td>
                <td>{{h.address}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="isAdmin">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">User ID</th>
                <th scope="col">User name</th>
                <th scope="col">User email</th>
                <th scope="col">User phone</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="h in history">
                <th scope="row">{{h.id}}</th>
                <td>{{h.userId}}</td>
                <td>{{h.userName}}</td>
                <td>{{h.userEmail}}</td>
                <td>{{h.userPhone}}</td>
                <td ng-bind="formatDate(h.createdAt) | date:'dd.MM.yyyy HH:mm'"></td>
                <td>{{h.price}}</td>
                <td>{{h.address}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>