<html ng-app="app" lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <style type="text/css">
        .navbar-nav > li > a:hover{
            font-weight: bold;
        }
    </style>
    <title>Shop</title>
</head>

<body>

<div class="container">
    <div ng-controller="indexController">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand">
                <img src="/img/shop-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Pankov shop
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/shop">Shop</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" ng-show="!isAdmin" href="#!/cart">Cart</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" ng-show="authorized" href="#!/history">History</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" ng-show="authorized" href="#!/user">User info</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" ng-show="isAdmin" href="#!/product-form">Add new product</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2 my-lg-0" ng-submit="tryToAuth()" ng-show="!authorized">
                        <input style="max-width: 150px" class="form-control mr-sm-2" ng-model="user.username" type="text" placeholder="Login" aria-label="Search">
                        <input style="max-width: 150px" class="form-control mr-sm-2" ng-model="user.password" type="password" placeholder="Password" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Log in</button>
                    </form>
                    <li class="nav-item active">
                        <a class="nav-link" ng-show="!authorized" href="#!/registration">
                            <button class="btn btn-outline-dark my-2 my-sm-0">Registration</button>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a ng-show="authorized" href="#!/shop">
                            <button class="btn btn-outline-dark my-2 my-sm-0" ng-click="logout()">Logout</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <br>
    <ng-view></ng-view>

    <script src="app-route.js"></script>
    <script src="home/home.js"></script>
    <script src="index.js"></script>
    <script src="shop/shop.js"></script>
    <script src="cart/cart.js"></script>
    <script src="history/history.js"></script>
    <script src="product-form/product-form.js"></script>
    <script src="registration/registration.js"></script>
    <script src="user/user.js"></script>
    <script src="order/order.js"></script>

</div>

</body>

</html>